/* Overall background color and image */
html, #login {background-color:#f1f2fa;}
body {background-image:url(../img/bg/body-1.jpg);}

/* Background and border color for drop-down navigation */
nav ul ul {background-color:#21262a;border-color:#72A20F;}

/* Footer background color */
footer, footer h3 span {background-color:#21262a;}

/* Primary navigation color */
nav>ul>li>a {color:#DFE2E4;}

/* Header colors */
h1, h1 a {color:#21262a;}
h2, h2 a, h3, h4, .pricing thead th {color:#444;}

/* Color for the links */
p a, .wrapper ul li a {color:#72A20F;}

/* Navigation arrows in the slider */
#slides .next, #slides .prev {color:#72A20F;}

/* Default link buttons */
.button {background-color:#72A20F;border-color:#72A20F;}

/* Search input and button */
#search input, #search button {background-color:#21262A;}

/* Darker text, footer links, slider etc. */
#slides h2, #slides, footer, footer h3, footer .wrapper p a, footer .wrapper ul li a, #newsletter input {color:#ddd;}
footer p a, footer ul li a {border-color:#5F6264;}
footer p span, nav ul ul li a span, #sec-navi a, #search input, #copyright, #copyright a {color:#8F9294;}

/* Selection colors */
::-moz-selection {color:#fff;background:#72A20F;}
::selection {color:#fff;background:#72A20F;}